frontend http_front
    bind *:80
    default_backend http_back

backend http_back
    balance roundrobin
{% for ip in webservers_ips %}
    server webserver{{ loop.index }} {{ ip }}:5000 check
{% endfor %}

