sysLocation    Karlskrona, Sweden
sysContact     Admin <admin@local.domain>
sysServices    72

agentAddress udp:161
master agentx

view   sysview  included   .1.3.6.1.2.1.1
view   sysview  included   .1.3.6.1.2.1.25.1

rocommunity public default -V sysview
rocommunity6 public default -V sysview

rouser snmpv3user authpriv -V sysview

