###########################################################################
# Net-SNMP Agent Configuration
###########################################################################

# System Metadata
sysLocation    Example Location
sysContact     Admin <admin@example.com>
sysServices    72

# Agent Behavior
master  agentx
agentAddress udp:161

# Access Views
view system_view included .1.3.6.1.2.1.1
view system_view included .1.3.6.1.2.1.25.1

# SNMPv1/2c Access
rocommunity public default -V system_view
rocommunity6 public default -V system_view

# SNMPv3 User
rouser authPrivUser authpriv -V system_view

